<app-header></app-header>
<app-background></app-background>

<div class="add-event-container mat-elevation-z3">
  <h2>Add New Event</h2>

  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>

  <form (ngSubmit)="saveEvent()">
    <mat-form-field appearance="fill">
      <mat-label>Event Name</mat-label>
      <input matInput id="name" [(ngModel)]="event.name" name="name" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Event Date</mat-label>
      <input matInput id="eventData" [(ngModel)]="event.eventData" name="eventData" type="date" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <input matInput id="city" [(ngModel)]="event.city" name="city" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Total Artist Slots</mat-label>
      <input matInput id="artistSlots" [(ngModel)]="event.ArtistSlots" name="artistSlots" type="number" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Save Event</button>
  </form>
</div>
