<app-header></app-header> 
<app-background></app-background>
<div class="event-container">
  <h2>{{ event?.name }}</h2>

  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>

  <div *ngIf="event">
    <p><strong>Date:</strong> {{ event.eventData.toDateString() }}</p>
    <p><strong>Location:</strong> {{ event.city }}</p>
    <p><strong>Created By:</strong> {{ event.creator }}</p>
    <p><strong>Creation Date:</strong> {{ event.creationData.toDateString() }}</p>
    <p><strong>Total Artist Slots:</strong> {{ event.ArtistSlots }}</p>
    <p><strong>Actual Participants:</strong> {{ event.Artists.length }}</p>

    <h3>Participating Artists:</h3>
    <ul>
      <li *ngFor="let artist of event.Artists">{{ artist }}</li>
    </ul>
    
    <h3 *ngIf="isEventCreator">Upload Images:</h3>
    <input *ngIf="isEventCreator" type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg" multiple>
    
    <div *ngIf="uploading" class="uploading-message">Uploading...</div>
    
    <h3>Event Images:</h3>
    <div class="image-gallery">
      <img *ngFor="let url of event.imageUrls" [src]="url" class="event-image">
    </div>

    <button (click)="goBack()">Back to Events</button>

    <button *ngIf="isArtist" (click)="sendParticipationRequest()">
      Send Participation Request
    </button>
    
  </div>
</div>
