.header {
    background-color: hsl(34, 92%, 53%); 
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.home-container {
    display: flex;
    justify-content: flex-start;
}

.auth-actions-container {
    display: flex;
    align-items: center; 
}

.auth-buttons {
    display: flex;
    gap: 10px;
}


.icon {
    display: flex; 
    align-items: center; 
}

#home a, #login a, #signup a, #events a, #artists a {
    color: #ffffff;
    text-decoration: none; 
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: #c04d01; 
    border-radius: 4px; 
    transition: background-color 0.3s, color 0.3s; 
}

#home a:hover, #login a:hover, #signup a:hover, #events a:hover {
    background-color: #b34100;
    color: #ffffff;
}

.fa {
    margin-right: 8px;
}
