<div *ngIf="mode == 'Login'">
  <div class="auth-container">
    <h2 class="auth-title">Login</h2>

    <button (click)="signInWithGoogle()"> 
    <img src="../../../assets/images/google-icon.png" alt="Google Icon">
      Accedi con Google
    </button>
    <div class="divider"></div>
    <div class="auth-form">
      <input type="email" [(ngModel)]="email" placeholder="Email" required>
      <input type="password" [(ngModel)]="password" placeholder="Password" required>
      <button (click)="signInWithEmail()">Accedi con Email</button>
    </div>
    <div *ngIf="authError" class="error-message">
      {{ authError }}
    </div>
    <p>Non hai un account?</p>
    <a mat-raised-button [routerLink]="['/sign']" [queryParams]="{ mode: 'Register' }">Registrati</a>
  </div>
</div>

<div *ngIf="mode == 'Register'">
  <div class="auth-container">

   <button class="google-btn" (click)="signInWithGoogle()">
    <img src="../../../assets/images/google-icon.png" alt="Google Icon">
    Accedi con Google
  </button>
  <div class="divider"></div>
  <div class="auth-form">
      <input type="text" [(ngModel)]="nome" placeholder="Nome" required>
      <input type="email" [(ngModel)]="email" placeholder="Email" required>
      <input type="city" [(ngModel)]="city" placeholder="City" required>

      <input type="password" [(ngModel)]="password" placeholder="Password" required>
    </div>
    <mat-slide-toggle [(ngModel)]="organizzazione" class="example-margin">

      Registrati come organizzazione
     </mat-slide-toggle>
    <div *ngIf="authError" class="error-message">
      {{ authError }}
    </div>
    <button (click)="signUpWithEmail()">Registrati con Email</button>

    <p>Hai già un account?</p>
    <a mat-raised-button [routerLink]="['/sign']" [queryParams]="{ mode: 'Login' }">Login</a>
  </div>

</div>
