.home-body-container {
    text-align: center;
    background-color: #e0f7fa; 
    padding: 20px;
  }
  p.title {
    font-size: 2.5em;       
    font-weight: bold;      
    text-align: center;    
    margin-top: 20px;       
    color: #1f083e;          
    text-transform: uppercase; 
    letter-spacing: 2px;   
  }
  .example-card {
    width: 90%; 
    margin: 3%;
    height: 200px;
    margin-bottom: 20px;
    background-color: #81c6d5; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  mat-card-header {
    background-color: #8184c7; 
    padding: 10px;
    border-bottom: 1px solid #4c59af;
  }
  
  mat-card-content {
    padding: 20px;
    color: #424242; 
  }
  
  img[mat-card-md-image] {
    max-width: 50px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
  }
  